In [2]:
## return the length of string using lambda
string_len = lambda s:len(s)
print(string_len('amarjeet'))

8

In [5]:
## convert a list of intergers to their corresponding square values:
numbers = [1,2,3,4,5,6]
squares = list(map(lambda x:x**2,numbers))
print(squares)

[1, 4, 9, 16, 25, 36]

In [7]:
## filter out even numbers from a list 
numbers = [1,2,3,4,5,6]
filter_list = list(filter(lambda x:x%2==0,numbers))
print(filter_list)

[2, 4, 6]

In [17]:
## sort a list of strings based on length
name = ['amar', 'vansh','ayesha','shivika','sheetal','sonu','vishal','yuvika']
sorted(name,key=lambda x:len(x))

['amar', 'sonu', 'vansh', 'ayesha', 'vishal', 'yuvika', 'shivika', 'sheetal']

In [19]:
## 
products3 = [
     {
        "name": "Laptop",
        "price": 999.99,
        "brand": "Dell",
        "in_stock": True
    },
     {
        "name": "Smartphone",
        "price": 699.99,
        "brand": "Apple",
        "in_stock": False
    },
     {
        "name": "Tablet",
        "price": 399.99,
        "brand": "Samsung",
        "in_stock": True
    }
]

sorted(products3, key=lambda x:x['price'])## for just sorting in one name
sorted(products3, key=lambda x:(x['price'],x['name']))

[{'name': 'Tablet', 'price': 399.99, 'brand': 'Samsung', 'in_stock': True},
 {'name': 'Smartphone', 'price': 699.99, 'brand': 'Apple', 'in_stock': False},
 {'name': 'Laptop', 'price': 999.99, 'brand': 'Dell', 'in_stock': True}]

In [21]:
## finding the maximum value in a dictionary
data ={'a' : 10,'b':20,'c':5,'d':15}
max(data,key=lambda x:data[x])

'b'